<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfiguationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EXONSYSTEM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="CoreAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="${PROGRAMDATA}\EXON\%property{LogName}"/>>
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd/MM/yyyy-HH:mm:ss} [%level] [%property{function}]: %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="CoreAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EXON_SYSTEM_TESTEntities" connectionString="metadata=res://*/EXONModel.csdl|res://*/EXONModel.ssdl|res://*/EXONModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHANDUY\EXPRESS,1433;initial catalog=MTA_QUIZ_2;user id =sa;password=1234@abcd;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="IP" value="172.20.10.7" />
    <add key="Port" value="3001" />
  </appSettings>
  <applicationSettings>
    <EXONSYSTEM.Properties.Settings>
      <setting name="Warning1" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Warning2" serializeAs="String">
        <value>50</value>
      </setting>
    </EXONSYSTEM.Properties.Settings>
  </applicationSettings>
</configuration>